// Variables

// Colors
$black: #191919;
$white: #FFFFFF;
$white_theme: #ECF0F1;
$violet: #A55EEA;
$blue: #4b7bec;
$red: #E74C3C;
$green: #2ECC71;
$tmdb: #01B4E4;

// Fonts
$gilroy-font: 'Gilroy';

// responsive view variables
$screen-480: 480px;
$screen-576: 576px;
$screen-768: 768px;
$screen-991: 991px;
$screen-1366: 1366px;
